{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <form name="login" action="#">
        <input type="text" name="login" />
        <input type="submit">
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/webauthn-helper.js') }}"></script>
    <script>
        document.querySelector('form').addEventListener('submit', (event) => {
            event.preventDefault()

            const formData = new FormData(document.querySelector('form'))
            const login = useLogin({});
            login({username: formData.get('login')})
                .then((response) => { window.location.href = '/me' })
                .catch((error) => { alert('Login failed') });
        });
    </script>
{% endblock %}
