{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <form name="login" action="#">
        <input type="text" name="login" />
        <input type="submit">
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/webauthn-helper.js') }}"></script>
    <script>
        document.querySelector('form').addEventListener('submit', (e) => {
            e.preventDefault()

            const formData = new FormData(document.querySelector('form'))
            const login = useLogin({});
            login({username: formData.get('login')})
                .then((response) => console.log('Login success'))
                .catch((error) => console.log('Login failure'));
        });
    </script>
{% endblock %}
