{% extends 'base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form name="register" action="#">
        <input type="text" name="login" />
        <input type="submit">
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/webauthn-helper.js') }}"></script>
    <script>
        document.querySelector('form').addEventListener('submit', (event) => {
            event.preventDefault()

            const formData = new FormData(document.querySelector('form'))
            const register = useRegistration({});
            register({username: formData.get('login'), displayName: formData.get('login')})
                .then((response) => { window.location.href = '/login' })
                .catch((error) => { alert('Registration failed') });
        })
    </script>
{% endblock %}
